<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Visa kurser</title>
</head>

<body>
    <div id="message"></div>
    <nav>
        <ul>
            <li><a href="/">Hem</a></li>
            <li><a href="/about">Om</a></li>
            <li><a href="/newcourse">Lägg till kurs</a></li>
        </ul>
    </nav>
    <main>
        <h1>Visa kurser</h1>
        <table>
            <tr>
                <th>KursID</th>
                <th>Kurskod</th>
                <th>Kursnamn</th>
                <th>Progression</th>
                <th>Kursplan</th>
                <th>Skapad</th>
            </tr>
            <tbody id="table-body">
                <% courses.forEach(course => { %>
                    <tr>
                        <td>
                            <%= course.id %>
                        </td>
                        <td>
                            <%= course.code %>
                        </td>
                        <td>
                            <%= course.name %>
                        </td>
                        <td>
                            <%= course.progression %>
                        </td>
                        <td>
                            <%= course.syllabus %>
                        </td>
                        <td>
                            <%= course.posted%>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </main>
</body>

</html>