<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Visa kurser</title>
</head>

<body>
    <div id="message"></div>
    <header>
        <nav>
            <ul>
                <li><a href="/" class="current-page">Hem</a></li>
                <li><a href="/about">Om</a></li>
                <li><a href="/newcourse">Lägg till kurs</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Kurser</h1>
        <table>
            <tr>
                <th>KursID</th>
                <th>Kurskod</th>
                <th>Kursnamn</th>
                <th>Kursprogression</th>
                <th>Kursplan</th>
                <th>Skapad</th>
            </tr>
            <tbody id="table-body">
                <% courses.forEach(row=> { %>
                    <tr>
                        <td>
                            <%= row.id %>
                        </td>
                        <td>
                            <%= row.code %>
                        </td>
                        <td>
                            <%= row.name %>
                        </td>
                        <td>
                            <%= row.progression %>
                        </td>
                        <td>
                            <%= row.syllabus %>
                        </td>
                        <td>
                            <%= new Date(row.posted + "Z").toLocaleString("sv-SE", {dateStyle: "medium", timeStyle: "short"
                                }) %>
                        </td>
                        <td>
                            <a href="/delete/<%=row.id%>">Radera kurs</a>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </main>
</body>

</html>