<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Lägg till kurs</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Hem</a></li>
                <li><a href="/about">Om</a></li>
                <li><a href="/newcourse" class="current-page">Lägg till kurs</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Lägg till kurs</h1>
        <div id="error-container">
            <% if(locals.errMessage.length> 0) { %>
                <ul id="error">
                    <% errMessage.forEach((error)=> { %>
                        <li>
                            <%= error %>
                        </li>
                        <%});%>
                </ul>
                <% }%>
        </div>
        <form method="post" action="/" id="course-form">
            <div class="form-group">
                <label for="code">Kurskod</label>
                <input type="text" name="code" id="code" placeholder="Skriv kurskod..." value="<%= coursecode %>">
                <br>
            </div>
            <div class="form-group"> <label for="name">Kursnamn</label>
                <input type="text" name="name" id="name" placeholder="Skriv kursnamn..." value="<%= coursename %>">
                <br>
            </div>
            <div class="form-group">
                <label for="progression">Progression</label>
                <input type="text" name="progression" id="progression" placeholder="Skriv progression..." value="<%= progression %>">
                <br>
            </div>
            <div class="form-group">
                <label for="syllabus">Kursplan</label>
                <input type="text" name="syllabus" id="syllabus" placeholder="Skriv kursplan..." value="<%= syllabus %>">
                <br>
            </div>
            <input type="submit" id="newcourse-button" value="Lägg till kurs">
        </form>
    </main>
</body>

</html>